* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #fff;
    font-family: Arial;
}

/* ===== CONTAINER ===== */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* ===== TITLE ===== */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* ===== BUTTON ===== */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #22c55e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

.mainBtn {
    background: #3b82f6;
}

/* ===== CARD ===== */
.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

/* ===== GRID ===== */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}

/* ===== ITEM ===== */
.cardItem {
    background: #334155;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* ===== INPUT ===== */
.inputBox {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

/* ===== MOBILE FIX ===== */
@media (max-width: 768px) {

    .grid {
        grid-template-columns: 1fr;
    }

    .inputBox {
        flex-direction: column;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }
}
